/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 600px;
    height: 600px;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    width: 600px;
    height: 600px;
}

.image-wrapper {
    width: 25%x;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
  }
